
.halloweenHeader{
    text-align:center;
    color:rgb(255, 153, 0);
}

header {
    background-color: rgb(22, 14, 2);
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}


footer {
    background-color:rgb(22, 14, 2);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 0 15px;
}

nav ul li a {
    color: rgb(245, 3, 3);
    text-decoration: none;
    font-size: 25px;
    font-family: "Metal Mania", cursive;


}